---
services:
  traefik:
    image: traefik:v3.6.12
    container_name: traefik-{{ inventory_hostname }}
    environment:
      - TZ=Etc/UTC
      - CF_DNS_API_TOKEN={{ cloudflare_api_token }}
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/traefik.yaml:/traefik.yml
      - ./config/dynamic:/config/dynamic
      - ./certs:/certs
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik-{{ inventory_hostname }}.service=api@internal
      - traefik.http.routers.traefik-{{ inventory_hostname }}.rule=Host(`traefik.{{ inventory_hostname }}.internal.dontddos.me`)
      - traefik.http.routers.traefik-{{ inventory_hostname }}.entrypoints=https
      - traefik.http.routers.traefik-{{ inventory_hostname }}.tls=true
      - traefik.http.routers.traefik-{{ inventory_hostname }}.middlewares=authentik@file
    networks:
      - frontend
      - monitoring
    restart: unless-stopped

networks:
  frontend:
    external: true
  monitoring:
    external: true