tls:
  stores:
    default:
      defaultGeneratedCert:
        resolver: cloudflare
        domain:
          main: {{ inventory_hostname }}.internal.dontddos.me
          sans:
            - "*.{{ inventory_hostname }}.internal.dontddos.me"